<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <!-- TODO 导入日志js -->
    <script src="./2021-01.js"></script>
    <script src="./20210122.js"></script>
    <script src="./20210123.js"></script>
    <script src="./js-note/2021/01/01.js"></script>
    <script src="./js-note/2021/01/02.js"></script>
    <script src="./js-note/2021/01/03.js"></script>
    <script src="./js-note/2021/01/04.js"></script>
    <script src="./js-note/2021/01/05.js"></script>
    <script src="./js-note/2021/01/06.js"></script>
    <script src="./js-note/2021/01/07.js"></script>
    <script src="./js-note/2021/01/08.js"></script>
    <script src="./js-note/2021/01/09.js"></script>
    <script src="./js-note/2021/01/10.js"></script>
    <script src="./js-note/2021/01/11.js"></script>
    <script src="./js-note/2021/01/12.js"></script>
    <script src="./js-note/2021/01/13.js"></script>
    <script src="./js-note/2021/01/14.js"></script>
    <script src="./js-note/2021/01/15.js"></script>
    <script src="./js-note/2021/01/16.js"></script>
    <script src="./js-note/2021/01/17.js"></script>
    <script src="./js-note/2021/01/18.js"></script>
    <script src="./js-note/2021/01/19.js"></script>
    <script src="./js-note/2021/01/20.js"></script>
    <script src="./js-note/2021/01/21.js"></script>
    <script src="./js-note/2021/01/22.js"></script>
    <script src="./js-note/2021/01/23.js"></script>
    <script src="./js-note/2021/01/24.js"></script>
    <script src="./js-note/2021/01/25.js"></script>
    <script src="./js-note/2021/01/26.js"></script>
    <script src="./js-note/2021/01/27.js"></script>
    <script src="./js-note/2021/01/28.js"></script>
    <script src="./js-note/2021/01/29.js"></script>
    <script src="./js-note/2021/01/30.js"></script>
    <script src="./js-note/2021/01/31.js"></script>
    <script src="./js-note/2021/02/01.js"></script>
    <script src="./js-note/2021/02/02.js"></script>
    <script src="./js-note/2021/02/03.js"></script>
    <script src="./js-note/2021/02/04.js"></script>
    <script src="./js-note/2021/02/05.js"></script>
    <script src="./js-note/2021/02/06.js"></script>
    <script src="./js-note/2021/02/07.js"></script>
    <script src="./js-note/2021/02/08.js"></script>
    <script src="./js-note/2021/02/09.js"></script>
    <script src="./js-note/2021/02/10.js"></script>
    <script src="./js-note/2021/02/11.js"></script>
    <script src="./js-note/2021/02/12.js"></script>
    <script src="./js-note/2021/02/13.js"></script>
    <script src="./js-note/2021/02/14.js"></script>
    <script src="./js-note/2021/02/15.js"></script>
    <script src="./js-note/2021/02/16.js"></script>
    <script src="./js-note/2021/02/17.js"></script>
    <script src="./js-note/2021/02/18.js"></script>
    <script src="./js-note/2021/02/19.js"></script>
    <script src="./js-note/2021/02/20.js"></script>
    <script src="./js-note/2021/02/21.js"></script>
    <script src="./js-note/2021/02/22.js"></script>
    <script src="./js-note/2021/02/23.js"></script>
    <script src="./js-note/2021/02/24.js"></script>
    <script src="./js-note/2021/02/25.js"></script>
    <script src="./js-note/2021/02/26.js"></script>
    <script src="./js-note/2021/02/27.js"></script>
    <script src="./js-note/2021/02/28.js"></script>
    <script src="./js-note/2021/02/29.js"></script>
    <script src="./js-note/2021/02/30.js"></script>
    <script src="./js-note/2021/02/31.js"></script>
    <script src="./js-note/2021/03/01.js"></script>
    <script src="./js-note/2021/03/02.js"></script>
    <script src="./js-note/2021/03/03.js"></script>
    <script src="./js-note/2021/03/04.js"></script>
    <script src="./js-note/2021/03/05.js"></script>
    <script src="./js-note/2021/03/06.js"></script>
    <script src="./js-note/2021/03/07.js"></script>
    <script src="./js-note/2021/03/08.js"></script>
    <script src="./js-note/2021/03/09.js"></script>
    <script src="./js-note/2021/03/10.js"></script>
    <script src="./js-note/2021/03/11.js"></script>
    <script src="./js-note/2021/03/12.js"></script>
    <script src="./js-note/2021/03/13.js"></script>
    <script src="./js-note/2021/03/14.js"></script>
    <script src="./js-note/2021/03/15.js"></script>
    <script src="./js-note/2021/03/16.js"></script>
    <script src="./js-note/2021/03/17.js"></script>
    <script src="./js-note/2021/03/18.js"></script>
    <script src="./js-note/2021/03/19.js"></script>
    <script src="./js-note/2021/03/20.js"></script>
    <script src="./js-note/2021/03/21.js"></script>
    <script src="./js-note/2021/03/22.js"></script>
    <script src="./js-note/2021/03/23.js"></script>
    <script src="./js-note/2021/03/24.js"></script>
    <script src="./js-note/2021/03/25.js"></script>
    <script src="./js-note/2021/03/26.js"></script>
    <script src="./js-note/2021/03/27.js"></script>
    <script src="./js-note/2021/03/28.js"></script>
    <script src="./js-note/2021/03/29.js"></script>
    <script src="./js-note/2021/03/30.js"></script>
    <script src="./js-note/2021/03/31.js"></script>
    <script src="./js-note/2021/04/01.js"></script>
    <script src="./js-note/2021/04/02.js"></script>
    <script src="./js-note/2021/04/03.js"></script>
    <script src="./js-note/2021/04/04.js"></script>
    <script src="./js-note/2021/04/05.js"></script>
    <script src="./js-note/2021/04/06.js"></script>
    <script src="./js-note/2021/04/07.js"></script>
    <script src="./js-note/2021/04/08.js"></script>
    <script src="./js-note/2021/04/09.js"></script>
    <script src="./js-note/2021/04/10.js"></script>
    <script src="./js-note/2021/04/11.js"></script>
    <script src="./js-note/2021/04/12.js"></script>
    <script src="./js-note/2021/04/13.js"></script>
    <script src="./js-note/2021/04/14.js"></script>
    <script src="./js-note/2021/04/15.js"></script>
    <script src="./js-note/2021/04/16.js"></script>
    <script src="./js-note/2021/04/17.js"></script>
    <script src="./js-note/2021/04/18.js"></script>
    <script src="./js-note/2021/04/19.js"></script>
    <script src="./js-note/2021/04/20.js"></script>
    <script src="./js-note/2021/04/21.js"></script>
    <script src="./js-note/2021/04/22.js"></script>
    <script src="./js-note/2021/04/23.js"></script>
    <script src="./js-note/2021/04/24.js"></script>
    <script src="./js-note/2021/04/25.js"></script>
    <script src="./js-note/2021/04/26.js"></script>
    <script src="./js-note/2021/04/27.js"></script>
    <script src="./js-note/2021/04/28.js"></script>
    <script src="./js-note/2021/04/29.js"></script>
    <script src="./js-note/2021/04/30.js"></script>
    <script src="./js-note/2021/04/31.js"></script>
    <script src="./js-note/2021/05/01.js"></script>
    <script src="./js-note/2021/05/02.js"></script>
    <script src="./js-note/2021/05/03.js"></script>
    <script src="./js-note/2021/05/04.js"></script>
    <script src="./js-note/2021/05/05.js"></script>
    <script src="./js-note/2021/05/06.js"></script>
    <script src="./js-note/2021/05/07.js"></script>
    <script src="./js-note/2021/05/08.js"></script>
    <script src="./js-note/2021/05/09.js"></script>
    <script src="./js-note/2021/05/10.js"></script>
    <script src="./js-note/2021/05/11.js"></script>
    <script src="./js-note/2021/05/12.js"></script>
    <script src="./js-note/2021/05/13.js"></script>
    <script src="./js-note/2021/05/14.js"></script>
    <script src="./js-note/2021/05/15.js"></script>
    <script src="./js-note/2021/05/16.js"></script>
    <script src="./js-note/2021/05/17.js"></script>
    <script src="./js-note/2021/05/18.js"></script>
    <script src="./js-note/2021/05/19.js"></script>
    <script src="./js-note/2021/05/20.js"></script>
    <script src="./js-note/2021/05/21.js"></script>
    <script src="./js-note/2021/05/22.js"></script>
    <script src="./js-note/2021/05/23.js"></script>
    <script src="./js-note/2021/05/24.js"></script>
    <script src="./js-note/2021/05/25.js"></script>
    <script src="./js-note/2021/05/26.js"></script>
    <script src="./js-note/2021/05/27.js"></script>
    <script src="./js-note/2021/05/28.js"></script>
    <script src="./js-note/2021/05/29.js"></script>
    <script src="./js-note/2021/05/30.js"></script>
    <script src="./js-note/2021/05/31.js"></script>
    <script src="./js-note/2021/06/01.js"></script>
    <script src="./js-note/2021/06/02.js"></script>
    <script src="./js-note/2021/06/03.js"></script>
    <script src="./js-note/2021/06/04.js"></script>
    <script src="./js-note/2021/06/05.js"></script>
    <script src="./js-note/2021/06/06.js"></script>
    <script src="./js-note/2021/06/07.js"></script>
    <script src="./js-note/2021/06/08.js"></script>
    <script src="./js-note/2021/06/09.js"></script>
    <script src="./js-note/2021/06/10.js"></script>
    <script src="./js-note/2021/06/11.js"></script>
    <script src="./js-note/2021/06/12.js"></script>
    <script src="./js-note/2021/06/13.js"></script>
    <script src="./js-note/2021/06/14.js"></script>
    <script src="./js-note/2021/06/15.js"></script>
    <script src="./js-note/2021/06/16.js"></script>
    <script src="./js-note/2021/06/17.js"></script>
    <script src="./js-note/2021/06/18.js"></script>
    <script src="./js-note/2021/06/19.js"></script>
    <script src="./js-note/2021/06/20.js"></script>
    <script src="./js-note/2021/06/21.js"></script>
    <script src="./js-note/2021/06/22.js"></script>
    <script src="./js-note/2021/06/23.js"></script>
    <script src="./js-note/2021/06/24.js"></script>
    <script src="./js-note/2021/06/25.js"></script>
    <script src="./js-note/2021/06/26.js"></script>
    <script src="./js-note/2021/06/27.js"></script>
    <script src="./js-note/2021/06/28.js"></script>
    <script src="./js-note/2021/06/29.js"></script>
    <script src="./js-note/2021/06/30.js"></script>
    <script src="./js-note/2021/06/31.js"></script>
    <script src="./js-note/2021/07/01.js"></script>
    <script src="./js-note/2021/07/02.js"></script>
    <script src="./js-note/2021/07/03.js"></script>
    <script src="./js-note/2021/07/04.js"></script>
    <script src="./js-note/2021/07/05.js"></script>
    <script src="./js-note/2021/07/06.js"></script>
    <script src="./js-note/2021/07/07.js"></script>
    <script src="./js-note/2021/07/08.js"></script>
    <script src="./js-note/2021/07/09.js"></script>
    <script src="./js-note/2021/07/10.js"></script>
    <script src="./js-note/2021/07/11.js"></script>
    <script src="./js-note/2021/07/12.js"></script>
    <script src="./js-note/2021/07/13.js"></script>
    <script src="./js-note/2021/07/14.js"></script>
    <script src="./js-note/2021/07/15.js"></script>
    <script src="./js-note/2021/07/16.js"></script>
    <script src="./js-note/2021/07/17.js"></script>
    <script src="./js-note/2021/07/18.js"></script>
    <script src="./js-note/2021/07/19.js"></script>
    <script src="./js-note/2021/07/20.js"></script>
    <script src="./js-note/2021/07/21.js"></script>
    <script src="./js-note/2021/07/22.js"></script>
    <script src="./js-note/2021/07/23.js"></script>
    <script src="./js-note/2021/07/24.js"></script>
    <script src="./js-note/2021/07/25.js"></script>
    <script src="./js-note/2021/07/26.js"></script>
    <script src="./js-note/2021/07/27.js"></script>
    <script src="./js-note/2021/07/28.js"></script>
    <script src="./js-note/2021/07/29.js"></script>
    <script src="./js-note/2021/07/30.js"></script>
    <script src="./js-note/2021/07/31.js"></script>
    <script src="./js-note/2021/08/01.js"></script>
    <script src="./js-note/2021/08/02.js"></script>
    <script src="./js-note/2021/08/03.js"></script>
    <script src="./js-note/2021/08/04.js"></script>
    <script src="./js-note/2021/08/05.js"></script>
    <script src="./js-note/2021/08/06.js"></script>
    <script src="./js-note/2021/08/07.js"></script>
    <script src="./js-note/2021/08/08.js"></script>
    <script src="./js-note/2021/08/09.js"></script>
    <script src="./js-note/2021/08/10.js"></script>
    <script src="./js-note/2021/08/11.js"></script>
    <script src="./js-note/2021/08/12.js"></script>
    <script src="./js-note/2021/08/13.js"></script>
    <script src="./js-note/2021/08/14.js"></script>
    <script src="./js-note/2021/08/15.js"></script>
    <script src="./js-note/2021/08/16.js"></script>
    <script src="./js-note/2021/08/17.js"></script>
    <script src="./js-note/2021/08/18.js"></script>
    <script src="./js-note/2021/08/19.js"></script>
    <script src="./js-note/2021/08/20.js"></script>
    <script src="./js-note/2021/08/21.js"></script>
    <script src="./js-note/2021/08/22.js"></script>
    <script src="./js-note/2021/08/23.js"></script>
    <script src="./js-note/2021/08/24.js"></script>
    <script src="./js-note/2021/08/25.js"></script>
    <script src="./js-note/2021/08/26.js"></script>
    <script src="./js-note/2021/08/27.js"></script>
    <script src="./js-note/2021/08/28.js"></script>
    <script src="./js-note/2021/08/29.js"></script>
    <script src="./js-note/2021/08/30.js"></script>
    <script src="./js-note/2021/08/31.js"></script>
    <script src="./js-note/2021/09/01.js"></script>
    <script src="./js-note/2021/09/02.js"></script>
    <script src="./js-note/2021/09/03.js"></script>
    <script src="./js-note/2021/09/04.js"></script>
    <script src="./js-note/2021/09/05.js"></script>
    <script src="./js-note/2021/09/06.js"></script>
    <script src="./js-note/2021/09/07.js"></script>
    <script src="./js-note/2021/09/08.js"></script>
    <script src="./js-note/2021/09/09.js"></script>
    <script src="./js-note/2021/09/10.js"></script>
    <script src="./js-note/2021/09/11.js"></script>
    <script src="./js-note/2021/09/12.js"></script>
    <script src="./js-note/2021/09/13.js"></script>
    <script src="./js-note/2021/09/14.js"></script>
    <script src="./js-note/2021/09/15.js"></script>
    <script src="./js-note/2021/09/16.js"></script>
    <script src="./js-note/2021/09/17.js"></script>
    <script src="./js-note/2021/09/18.js"></script>
    <script src="./js-note/2021/09/19.js"></script>
    <script src="./js-note/2021/09/20.js"></script>
    <script src="./js-note/2021/09/21.js"></script>
    <script src="./js-note/2021/09/22.js"></script>
    <script src="./js-note/2021/09/23.js"></script>
    <script src="./js-note/2021/09/24.js"></script>
    <script src="./js-note/2021/09/25.js"></script>
    <script src="./js-note/2021/09/26.js"></script>
    <script src="./js-note/2021/09/27.js"></script>
    <script src="./js-note/2021/09/28.js"></script>
    <script src="./js-note/2021/09/29.js"></script>
    <script src="./js-note/2021/09/30.js"></script>
    <script src="./js-note/2021/09/31.js"></script>
    <script src="./js-note/2021/10/01.js"></script>
    <script src="./js-note/2021/10/02.js"></script>
    <script src="./js-note/2021/10/03.js"></script>
    <script src="./js-note/2021/10/04.js"></script>
    <script src="./js-note/2021/10/05.js"></script>
    <script src="./js-note/2021/10/06.js"></script>
    <script src="./js-note/2021/10/07.js"></script>
    <script src="./js-note/2021/10/08.js"></script>
    <script src="./js-note/2021/10/09.js"></script>
    <script src="./js-note/2021/10/10.js"></script>
    <script src="./js-note/2021/10/11.js"></script>
    <script src="./js-note/2021/10/12.js"></script>
    <script src="./js-note/2021/10/13.js"></script>
    <script src="./js-note/2021/10/14.js"></script>
    <script src="./js-note/2021/10/15.js"></script>
    <script src="./js-note/2021/10/16.js"></script>
    <script src="./js-note/2021/10/17.js"></script>
    <script src="./js-note/2021/10/18.js"></script>
    <script src="./js-note/2021/10/19.js"></script>
    <script src="./js-note/2021/10/20.js"></script>
    <script src="./js-note/2021/10/21.js"></script>
    <script src="./js-note/2021/10/22.js"></script>
    <script src="./js-note/2021/10/23.js"></script>
    <script src="./js-note/2021/10/24.js"></script>
    <script src="./js-note/2021/10/25.js"></script>
    <script src="./js-note/2021/10/26.js"></script>
    <script src="./js-note/2021/10/27.js"></script>
    <script src="./js-note/2021/10/28.js"></script>
    <script src="./js-note/2021/10/29.js"></script>
    <script src="./js-note/2021/10/30.js"></script>
    <script src="./js-note/2021/10/31.js"></script>
    <script src="./js-note/2021/11/01.js"></script>
    <script src="./js-note/2021/11/02.js"></script>
    <script src="./js-note/2021/11/03.js"></script>
    <script src="./js-note/2021/11/04.js"></script>
    <script src="./js-note/2021/11/05.js"></script>
    <script src="./js-note/2021/11/06.js"></script>
    <script src="./js-note/2021/11/07.js"></script>
    <script src="./js-note/2021/11/08.js"></script>
    <script src="./js-note/2021/11/09.js"></script>
    <script src="./js-note/2021/11/10.js"></script>
    <script src="./js-note/2021/11/11.js"></script>
    <script src="./js-note/2021/11/12.js"></script>
    <script src="./js-note/2021/11/13.js"></script>
    <script src="./js-note/2021/11/14.js"></script>
    <script src="./js-note/2021/11/15.js"></script>
    <script src="./js-note/2021/11/16.js"></script>
    <script src="./js-note/2021/11/17.js"></script>
    <script src="./js-note/2021/11/18.js"></script>
    <script src="./js-note/2021/11/19.js"></script>
    <script src="./js-note/2021/11/20.js"></script>
    <script src="./js-note/2021/11/21.js"></script>
    <script src="./js-note/2021/11/22.js"></script>
    <script src="./js-note/2021/11/23.js"></script>
    <script src="./js-note/2021/11/24.js"></script>
    <script src="./js-note/2021/11/25.js"></script>
    <script src="./js-note/2021/11/26.js"></script>
    <script src="./js-note/2021/11/27.js"></script>
    <script src="./js-note/2021/11/28.js"></script>
    <script src="./js-note/2021/11/29.js"></script>
    <script src="./js-note/2021/11/30.js"></script>
    <script src="./js-note/2021/11/31.js"></script>
    <script src="./js-note/2021/12/01.js"></script>
    <script src="./js-note/2021/12/02.js"></script>
    <script src="./js-note/2021/12/03.js"></script>
    <script src="./js-note/2021/12/04.js"></script>
    <script src="./js-note/2021/12/05.js"></script>
    <script src="./js-note/2021/12/06.js"></script>
    <script src="./js-note/2021/12/07.js"></script>
    <script src="./js-note/2021/12/08.js"></script>
    <script src="./js-note/2021/12/09.js"></script>
    <script src="./js-note/2021/12/10.js"></script>
    <script src="./js-note/2021/12/11.js"></script>
    <script src="./js-note/2021/12/12.js"></script>
    <script src="./js-note/2021/12/13.js"></script>
    <script src="./js-note/2021/12/14.js"></script>
    <script src="./js-note/2021/12/15.js"></script>
    <script src="./js-note/2021/12/16.js"></script>
    <script src="./js-note/2021/12/17.js"></script>
    <script src="./js-note/2021/12/18.js"></script>
    <script src="./js-note/2021/12/19.js"></script>
    <script src="./js-note/2021/12/20.js"></script>
    <script src="./js-note/2021/12/21.js"></script>
    <script src="./js-note/2021/12/22.js"></script>
    <script src="./js-note/2021/12/23.js"></script>
    <script src="./js-note/2021/12/24.js"></script>
    <script src="./js-note/2021/12/25.js"></script>
    <script src="./js-note/2021/12/26.js"></script>
    <script src="./js-note/2021/12/27.js"></script>
    <script src="./js-note/2021/12/28.js"></script>
    <script src="./js-note/2021/12/29.js"></script>
    <script src="./js-note/2021/12/30.js"></script>
    <script src="./js-note/2021/12/31.js"></script>
    <link rel="stylesheet" href="../css/element-ui/index.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/prism.css">
    <style>
        .el-calendar-table .el-calendar-day {
            padding: 0;
        }

        .el-dialog__headerbtn {
            font-size: 30px;
            top: 15px;
        }

        @font-face {
            font-family: code;
            src: url(fonts/JetBrainsMono-Medium.ttf) format("JetBrains Mono");
        }

        h1 {
            font-size: 24px;
        }

        body {
            overflow: hidden;
        }

        pre {
            padding: 15px;
            /* background-color: #e9e8e8; */
            /* color: #000000; */
            font-size: 15px;
        }

        code {
            font-family: code !important;
        }

        .wrapper {
            margin: 50px 150px;
        }

        /* .markdown {
            height: 700px;
            border: 3px solid #ebeef5;
            padding: 20px;
            overflow: auto;
        } */

        .calendar-cell-day {
            width: 30px;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
        }

        .has-text {
            background-color: #57f1ff83;
        }

        .result-html {
            border: none;
        }

        .el-tab-pane {
            height: 660px;
        }

        ol {
            font-size: 17px;
        }

        ul {
            font-size: 17px;
        }

        .el-tabs__content {
            overflow: auto;
        }
    </style>
</head>

<body>
    <div id="app" class="wrapper">
        <h2 v-text="todayLabel"></h2>
        <div style="border: 5px solid #ebeef5;">
            <!-- <clock></clock> -->
            <el-calendar>
                <template slot="dateCell" slot-scope="{date, data}">
                    <div @click="handleSelectDate(data)" style="height: 100%;width: 100%;padding: 5px;">
                        <div :class="{'calendar-cell-day': true, 'has-text': hasText(dayjs(date).format('YYYYMMDD'))}"
                            v-text="dayjs(date).format('DD')">
                        </div>
                    </div>
                </template>
            </el-calendar>
            <el-dialog title="ESC - CLOSE" :visible.sync="dialogVisible" width="950px" top="50px">
                <el-tabs type="border-card" v-model="activeName">
                    <el-tab-pane v-for="(item,index) in source"
                        :label="source[0] === '# NULL' ? 'NULL' : romanNum[index + 1]" :name="source[0] === '# NULL' ? 'NULL' : romanNum[index + 1]">
                        <vue-markdown class="result-html"
                            :watches="['show','html','breaks','linkify','emoji','typographer','toc']" :source="item"
                            :show="true" :html="true" :breaks="true" :linkify="true" :emoji="true" :typographer="true"
                            :toc="true" toc-id="toc">
                        </vue-markdown>
                    </el-tab-pane>
                </el-tabs>
                <!-- <div v-html="compiledMarkdown" class="markdown"></div> -->
            </el-dialog>
        </div>
    </div>

    <!-- <script src="./components/clock.js"></script> -->

    <script src="../js/vue@2.6.12.js"></script>
    <script src="../js/element/index.js"></script>
    <script src="../js/dayjs.min.js"></script>
    <script src="../js/marked.js"></script>
    <script src="../js/vue-markdown.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/prism.js"></script>
    <script src="../js/purify.min.js"></script>
    <script>
        // ⅪⅫ 13-XIII、14-XIV、15-XV、16-XVI、17-XVII、18-XVIII、19-XIX、20-XX
        const romanNum = {
            1: 'Ⅰ',
            2: 'Ⅱ',
            3: 'Ⅲ',
            4: 'Ⅳ',
            5: 'Ⅴ',
            6: 'Ⅵ',
            7: 'Ⅶ',
            8: 'Ⅷ',
            9: 'Ⅸ',
            10: 'Ⅹ'
        }
        Object.getPrototypeOf(window).filter = function (time) {
            let res = []
            // item => { item.startsWith() }
            for (const item in this) {
                if (item.startsWith('text' + dayjs(time).format('YYYYMMDD') + '_')) {
                    res.push(window[item])
                }
            }
            return res
        }
        Vue.use(VueMarkdown);
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    todayLabel: '',
                    input: '',
                    dialogVisible: false,
                    source: [],
                    activeName: ''
                }
            },
            created() {
                this.todayLabel = 'TODAY ' + dayjs().format('YYYY-MM-DD')
            },
            mounted() {

            },
            methods: {
                handleSelectDate(data) {
                    const array = window.filter(data.day)
                    this.source = array.length > 0 ? array : ['# NULL']
                    // this.source[0] = window['text' + dayjs(data.day).format('YYYYMMDD') + '_00'] ?? '# NULL'
                    this.activeName = array.length > 0 ? 'Ⅰ' : 'NULL'
                    this.dialogVisible = true
                },
                hasText(time) {
                    return window.filter(time).length > 0
                },
            },
            computed: {
            }
        })
    </script>

</body>

</html>